html, body, #mapDiv {
  padding:0;
  margin:0;
  height:100%;
  font-family: "Avenir Next";
}

#date {
  background-color: #444444;
  color: #D14114;
  padding: .4em;
  border: none;
}
#mapDiv_zoom_slider {
  background: #D14114;
}
#buttonSubmit {
  background: none;
  border: none;
}

.dijit.dijitReset.dijitInline.dijitButton {
  display: none;
}
.dijitSliderBar {

}
#mapDiv {
  position: relative;
}

#bottomPanel {
  left: 50%;
  margin: 0 auto;
  margin-left: -500px;
  position: absolute;
  bottom: 2.5em;
}

#timeInfo{
  border-radius: 4px;
  border: 2px;
  background-color: #D14114;
  display: block;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 1000px;
  z-index: 99;
  font-size: 18px;
}
#jqSlider {
   position: absolute;
   left: 2em; /* 32 pixels */
   top: 15.65em; /* 250 pixels */
   height: 12.5em; /* 200 pixels */
   z-index: 2;
   font-size: 0.75em; /* 12 pixels */
 }

 #ui-sample-description {
   position: absolute;
   /*top: 1.25em;
   left: 1.25em;
   right: 1.25em;*/
   top: 1em;
   right: 1.25em;
   z-index: 2;
   background-color: #D14114;
   border-radius: 0.3125em;
   border: 0.0625em ;
   padding: 5px;

 }
#legend{
  top: 10em;
  right: -6em;
  z-index: 2;
  padding: 5px;
  position: absolute;
}

#loader {
  top: 20em;
  right: 28em;
  color: white;
  font-size: 19px;
  z-index: 2;
  padding: 5px;
  position: absolute;
  opacity: 1;
}

.dijitRuleLabel.dijitRuleLabelH{
  font-size: 18px;
  color: #444444;
}
 #ui-sample-feedback {
   bottom: 1.25em;
   left: 1.25em;
   z-index: 2;
   position: absolute;
   text-align: center;
   background-color: #fff;
   border-radius: 0.3125em;
   border: 0.0625em #AAAAAA solid;
   padding: 10px;
 }

 .simpleInfoWindow, .simpleInfoWindow .title {
   border-color: #5C9CFF;
 }

 .simpleInfoWindow .title {
   font-weight: bold;
 }

 .ui-header {
   top: 0;
   left: 0;
   right: 0;
   height: 1.875em;
   color: #FFFFFF;
   background-color: #67656c;
   padding: .8em;
   border-radius: 0.3125em 0.3125em 0 0;
   border-bottom-color: #FFFFFF;
   border-bottom-width: 0.3125em;
 }

 .ui-content {
   color: #343434;
   background-color: #fff;
   padding: 0.625em 0.625em;
   border-radius: 0 0 0.3125em 0.3125em;
 }

 .ui-drop-shadow {
   -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
 }

 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default {
   border: 2px solid #67656c;
 }

 .ui-widget-content {
   border: 2px solid #67656c;
   color: #555555;
 }

 input{
   font-size: 16px;
 }

 table{
   margin-top: 3px;
   margin-bottom: 14px;
 }

 #search {
   display: block;
   position: absolute;
   z-index: 2;
   top: 20px;
   left: 74px;
}
